@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Open+Sans:wght@400;600&display=swap');

/* Normal box sizing */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: #faf0ca;
}

a {
    text-decoration: none;
}

/* All text align */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

/* Logo and its bg */
.header__logo_with_bg_and_text {
    display: flex;
    margin-left: 40px;
    margin-top: 32px;
}

.header__logo_pic {
    width: 60px;
    height: 60px;
    background-color: #363326;
}

.header__logo_text {
    margin-left: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Montserrat;
    font-weight: 600;
    color: #363326;
}

.header__logo_text_name {
    font-size: 32px;
}

.header__logo_text_desc {
    margin-left: 3px;
    font-size: 13px;
}

/* Menu items */

.navigation {
    display: flex;
    margin-top: 50px;
}
.navigation__menu_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navigation__menu_list li {
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
    margin-left: 50px;
}

.navigation__menu_list li:first-child {
    margin-left: 0px;
}

.navigation__menu_list:last-child {
    margin-right: 40px;
}

.navigation__menu_list li a {
    color: #363326;
}

/* Choice heading */

.choiceheading__wrap {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.choiceheading {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    color: #363326;
    text-align: center;
}

/* Choice (pic+price) */

.choice {
    margin-top: 40px;

    display: flex;
    flex-direction: row;
}

/* Picture */
.choice__pic_wrap {
    background: #ffffff;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 35px;

    margin-left: 40px;
    margin-right: 40px;

    flex-basis: 100%;
}

.choice__pic {
    max-width: 100%;
    padding: 15px;
    border-radius: 35px;
}

/* Pricing */
.choice__pricing_wrap {
    flex-basis: 100%;

    background-color: #ffffff;

    margin-right: 40px;
    margin-left: 40px;

    border-radius: 35px;
}

.choice__name {
    text-align: center;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;

    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
}

.choice__price {
    text-align: center;
    padding-top: 40px;

    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
}

.choice__button_wrap {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

.choice__button {
    background-color: #109648;
    padding: 15px 50px;
    border-radius: 66px;

    color: #faf0ca;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
}

.choice__export_all {
    padding-top: 50px;
}

.choice__export_all div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: 30px;
    margin-right: 30px;

    margin-bottom: 50px;

    font-family: 'Open Sans';
    font-weight: normal;
}

/* Description and its header */

.desc__header {
    margin-top: 50px;

    text-align: center;

    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
}

.desc__content_wrap {
    background: #fff;

    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;

    border-radius: 35px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 14px;
}

.desc__content_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
}

.desc__content_desc {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;

    line-height: 20px;
}

.desc__content_author_text,
.desc__content_date_text,
.desc__content_desc_text {
    font-weight: 600;
}
