/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Open+Sans:wght@400;600&display=swap');

/* Normal box sizing */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: #faf0ca;
}

/* All text align */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1755px;
    margin: 0 auto;
}

/* Logo and its bg */
.header__logo_with_bg_and_text {
    display: flex;
    margin-left: 65px;
    margin-top: 32px;
    margin-bottom: 50px;
}

.header__logo_pic {
    width: 120px;
    height: 120px;
    background-color: #363326;
}

.header__logo_text {
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Montserrat;
    font-weight: 600;
    color: #363326;
}

.header__logo_text_name {
    font-size: 4em;
}

.header__logo_text_desc {
    margin-left: 5px;
    font-size: 1.5em;
}

/* Menu items */

.navigation {
    display: flex;
}
.navigation__menu_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__menu_list li {
    font-size: 2em;
    font-family: Montserrat;
    font-weight: 600;
    margin-left: 2em;
}

.navigation__menu_list:last-child {
    margin-right: 65px;
}

.navigation__menu_list li a {
    text-decoration: none;
    color: #363326;
}
