/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Open+Sans:wght@400;600&display=swap');

/* Normal box sizing */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: #faf0ca;
}

/* All text align */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

/* Logo and its bg */
.header__logo_with_bg_and_text {
    display: flex;
    margin-left: 65px;
    margin-top: 32px;
}

.header__logo_pic {
    width: 120px;
    height: 120px;
    background-color: #363326;
}

.header__logo_text {
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Montserrat;
    font-weight: 600;
    color: #363326;
}

.header__logo_text_name {
    font-size: 64px;
}

.header__logo_text_desc {
    margin-left: 5px;
    font-size: 28px;
}

/* Menu items */

.navigation {
    display: flex;
    margin-top: 50px;
}
.navigation__menu_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__menu_list li {
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 600;
    margin-left: 73px;
}

.navigation__menu_list li:first-child {
    margin-left: 0px;
}

.navigation__menu_list:last-child {
    margin-right: 100px;
}

.navigation__menu_list li a {
    text-decoration: none;
    color: #363326;
}

/* Musk line */
.musk {
    display: flex;
    margin-top: 50px;
    margin-bottom: 15px;
}

.musk__text_container {
    background-color: #523e49;
    color: #faf0ca;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.musk__text_heading {
    font-size: 48px;
    font-family: 'Open Sans';
    font-weight: 600;

    margin-left: 65px;
    margin-top: 39px;
}

.musk__text_desc {
    font-size: 30px;
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 41px;

    margin-left: 65px;
    margin-top: 11px;
}

.musk__button_wrap {
    margin-left: 65px;
    margin-bottom: 99px;
}

.musk__button {
    background-color: #109648;
    padding: 33px 113px;
    border-radius: 66px;
    color: #faf0ca;
    text-decoration: none;

    font-family: Montserrat;
    font-weight: 600;
    font-size: 36px;
}

.musk__image {
    height: 458px;
}

/* Einstein line */
.einstein {
    display: flex;
    margin-bottom: 15px;
}

.einstein__image {
    height: 458px;
}

.einstein__text_container {
    background-color: #212121;
    color: #faf0ca;
    text-align: right;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.einstein__text_heading {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 48px;

    margin-right: 100px;
    margin-top: 44px;
}

.einstein__text_desc {
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;

    margin-right: 100px;
    margin-top: 19px;
}

.einstein__button_wrap {
    margin-right: 100px;
    margin-bottom: 99px;
}

.einstein__button {
    background-color: #109648;
    padding: 33px 54px;
    border-radius: 66px;
    color: #faf0ca;
    text-decoration: none;

    font-family: Montserrat;
    font-weight: 600;
    font-size: 36px;
}
